@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

* {
  font-family: Saira, sans-serif;
}
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(calc(-100% / 5));
  }
}
.animate-marquee {
  animation: marquee 15s linear infinite;
  display: flex;
}
.hover\:pause-animation:hover {
  animation-play-state: paused;
}
